*{
    box-sizing: border-box;
    position: 0;
    margin: 0;
}


/* navbar section */
.header{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    background-color: rgb(55, 52, 52);
    top: 0;
    left: 0;
    z-index: 1;

}
div.header a:link,a:visited{
    color: white;
    text-decoration: none;
    padding-right: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}
div.header a:hover{
    color: yellowgreen;
}

/* home section */

.logo{
    height: 1100px;
    width: 100%;
    background-image: linear-gradient(rgb(114,243,157),white);
    margin-top: 2px;
    position: relative;
}
#image{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-right: 10px;
    font-size: 70px;
    font-weight: bolder;
}
#image:hover{
    color: aqua;
    cursor: pointer;
}
#gallery{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-right: 10px;
    font-size: 70px;
    font-weight: bolder;
}
#gallery:hover{
    color: yellow;
    cursor: pointer;
}
#btn{
    position: relative;
    display: block;
    top: 80px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: green;
    border-color: green;
    text-transform: capitalize;
}
#btn:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    border: 2px solid green;
}
.logo_portion{
    height: 200px;
    width: auto;
    text-align: center;
    margin-top: 2px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a:link, a:visited{
    text-decoration: none;
}

/* about section */
.main{
    margin-top:  20px; 
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    font-family: sans-serif;
    font-size: larger;
    background-color: antiquewhite;
}
#head_about{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* gallery section */

.image{
    margin-top: 10px;
    padding-top: 70px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    padding-bottom: 50px;
    height: 550px;
    overflow: auto;
    background-color: rgb(188, 223, 254);
}
img{
    height: 250px;
    width: 250px;
    padding: 10px;
}
.photo{
    border: 2px solid black;
    display: inline-block;
    background-color: white;
    margin: 20px;
    margin-left: 30px;
    box-shadow: 2px 2px 5px black;
}
.desc{
    border-top: 2px solid black;
    padding: 20px;
    width: 250px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: antiquewhite;
}
.desc:hover{
    text-decoration-line:underline ;
    text-decoration-color:blue ;
}
img:hover{
    opacity: 0.6;
}
div.desc{
    color: black;
}
div.photo:hover .desc{
    text-decoration-line: underline;
    text-decoration-color:blue ;
    color: blue;
}

/* footer section */
.footer{
    width: 100%;
    height: 200px;
    font-size: 30px;
    padding: 50px;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: white;
}
.footer i{
    padding-right: 20px;
}
.footer i:hover{
    color: yellow;
}

html{
    scroll-behavior: smooth;
}